footer.footer
    img.footer_logo(src='/img/logo.png' alt='coloco logo in footer')
    ul.publish
        li.publish_item
            a.publish_link(href='#') Publish your listing
        li.publish_item
            a.publish_link(href='#') List your Business
        li.publish_item
            a.publish_link(href='#') Blog

    ul.publish
        li.publish_item
            a.publish_link(href='#') Who are we?
        li.publish_item
            a.publish_link(href='#') Contact Us
        li.publish_item
            a.publish_link(href='#') FAQ's
        li.publish_item
            a.publish_link(href='#') Terms of Use
        li.publish_item
            a.publish_link(href='#') Data protection

    .social-links-container
        a.social-links-container_link(href='#')
            svg
                use(href='/img/sprite.svg#icon-facebook')
        a.social-links-container_link(href='#')
            svg
                use(href='/img/sprite.svg#icon-instagram')
        a.social-links-container_link(href='#')
            svg
                use(href='/img/sprite.svg#icon-twitter')
        a.social-links-container_link(href='#')
            svg
                use(href='/img/sprite.svg#icon-youtube')
        a.social-links-container_link(href='#')
            svg
                use(href='/img/sprite.svg#icon-blogger')
        
.copyright
        p.copyright_text Coloco SARL &copy 2021 , all rights reserved, made with love by Hamza Sehouli.
