<!DOCTYPE html>
    html(lang='en')
        head 
            meta(charset='utf-8') 
            meta(http-equiv='X-UA-Compatible' content='IE=edge') 
            meta(name='viewport' content='width=device-width, initial-scale=1') 
            meta(name='description' content='colco is a leading ad website in morocco for searching flatshares and 1 room flats')
    
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/logo.png')
            link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap' rel='stylesheet')
            script(defer src='/js/script.js')
            title Coloco | #{title}
        
        body.body
            
            include _header

             
            block content 

             
            include _footer
            
