extends base

block content 

    section.section-backend
            form.form-backend.form-backend--forgetPassword(action='#')

                input#email.input-backend(
                    placeholder='email address'
                    type='email'
                    required)

                button.form-backend_btn.form-backend_btn--forgetPassword(type='submit') Next